input[type="button"]{
  position: fixed;
  bottom: 5px;
  right: 15px;
  height: 6%;
  width: 200px;
  background-color: #173239;
  color: #fff6dd;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}
input[type="text"]{
  position: fixed;
  bottom: 0.8%;
  left: 5%;
  height: 5%;
  width: 80%;
  background-color: #173239;
  color: #fff6dd;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 30px;

}
input{
  border: 0px;
  outline: none;
}
input[type="button"]:active{
  background-color: black;
  color: white;
}
@font-face {
 font-family: Flow; /* Имя шрифта */
 src: url(19759.otf); /* Путь к файлу со шрифтом */
}
@font-face {
font-family: Flowlow; /* Имя шрифта */
src: url(19760.otf); /* Путь к файлу со шрифтом */
}
input[type="text"]{
  font-family: Flowlow;
}
input[type="button"]{
  font-family: Flow;
}
body{background-color: #173239;}
  #row{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 20px;
    color: black;
    margin-top: 10px;
  }
  #row1{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 20px;
    color: black;
    margin-top: 10px;
  }
  #dmt{
    border: 5px solid #eceeeb;
        background-color: #eceeeb;
        border-radius: 0px 30px 30px 0px;
        color: #173239;
        font-family: Flow;padding-right: 7px;
  }
  #dmt2{
    border: 5px solid #f4513e;
        background-color: #f4513e;
        border-radius: 0px 30px 30px 0px;
        color: #173239;
        font-family: Flow;padding-right: 7px;
  }
  br{
    margin-top:15px;
padding-top: 0px;
margin-bottom: 0px;
  }
  #los{

    position: absolute;
    right: 11px;
    height: 100%;
    top: 0px;
  }
  #los1{
    position: absolute;
    left: 11px;
    height: 100%;
    top: 0px;
  }
  a{font-size: 15px; }
  #fg{
    position: absolute;
    left: 48%;
    color: white;
  }
  #md{
border: 5px solid #eceeeb;
    background-color: #eceeeb;
    border-radius: 30px 0px 0px 30px;
    color: #1b1b1b;
    font-family: Flow;padding-left: 7px;
  }
  #md2{
border: 5px solid #f4513e;
    background-color: #f4513e;
    border-radius: 30px 0px 0px 30px;
    color: #fff6dd;
    font-family: Flow;padding-left: 7px;
  }


  a{-moz-user-select: none;
-khtml-user-select: none;
user-select: none; }
#ds{
position: fixed;
display: block;
width: 1920px;
height: 890px;
top: 0%;
left: 0%;
overflow-y: auto;
overflow-x: hidden;
z-index: 10;
}
    #opra{
      position: fixed;
      bottom: 0px;
      left: 0px;
      height: 7%;
      width: 100%;
      background-color: #324d54;
      z-index: 11;
    }
    img{
      position: absolute;
      left: 1.7%;
      top: 22%;
      cursor: pointer;
    }
