a{
  text-decoration: none;
}
input{
  outline: none;
  border: 0px;
}
#menu{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ff0000;
  }
#menu-box-add-menu{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 250px;
    height: 50px;
    background-color: #3b2222;
  }
#add-menu-input-text{
        position: absolute;
        top: 10px;
        left: 5px;
        width: 180px;
        height: 30px;
        background-color: #ff0000;
        text-align: center;
        color: white;
  }
#add-menu-input-button{
          position: absolute;
          top: 10px;
          left: 205px;
          width: 30px;
          height: 30px;
          background-color: #ff0000;
          border-radius: 100px;
          transition-duration: 0.5s;
        }
#add-menu-input-button:hover{
          background-color: orange;
          transition-duration: 0.5s;
        }
#menu-box-info-menu{
        position: absolute;
        top: 180px;
        left: 10px;
        width: 170px;
        height: 70%;
        flex-wrap: inherit;
        background-color: orange;
        color: #fff;
        justify-content: center;
  }
#menu-box-info-menu-hud{
    margin-top: 5px;
    margin-left: -10px;
    display: inline-block;
    width: 200px;
    height: 30px;
    background-color: #3b2222;
  }
#menu-box-info-menu-text{
    text-align: center;
    display: block;
    display: block;
    margin: 6px;
    color: white;
  }
#menu-box-info-menu-button{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffff00;
  }
#box-logo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
    background-color: #3b2222;
  }
#box-logo-text{
    text-align: center;
    display: block;
    margin: 40px;
    color: #ff0000;
    font-family: test;
  }

a, input{
   font-family: test2;
  }
@font-face {
 font-family: test;
 src: url('https://azzeerraa.github.io/16271.ttf');
}
@font-face {
 font-family: test2;
 src: url('https://azzeerraa.github.io/Hero.otf');
}
#menu-box-file{
 position: absolute;
 display: block;
 top: 0px;
 left: 20%;
 width: 80%;
 height:100%;
 background-color: #3b2222;
}
#box-backwards{
 position: absolute;
 top: 5px;
 left: -25px;
 width: 140px;
 height: 40px;
 background-color: #ff0000;
 border-radius: 15px;
}
#box-backwards-text{
   text-align: center;
   display: block;
   margin: 11px;
   color: white;
}
#menu-box-file-box{
 display: flex;
 flex-wrap: wrap;
 position: absolute;
 overflow-y: scroll;
 overflow-x: hidden;
 top: 70px;
 left: 0%;
 height: 80%;
 width: 100%;
 background-color: orange;
 color: #fff;
 font: 100 24px/100px sans-serif;
 justify-content: stretch;
}
#file-box {
   height: 105px;
   display: block;
   width: 150px;
   margin: 30px;
   background-color: #ff0000;
 }
#file-box-box-text{
 margin-top: 15px;
 margin-left: -7px;
 width: 165px;
 height: 35px;
 background-color: #3b2222;
}
#file-box-img{
 margin-top: 10px;
 margin-left: 0px;
 display: block;
 width: 100%;
 height: 85px;
 background-color: #3b2222;
}
#file-box-img img{
 margin-top: 0px;
 margin-left: 0px;
 width: 100%;
 height: 100%;
}
