#l1{
  margin-left: 0px;
}
#l2{
  margin-left: 225px;
}
#l3{
  margin-left: 450px;
}
#l4{
  margin-left: 675px;
}
#l5{
  margin-left: 900px;
}




#videoyoutube1{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon1{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube2{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon2{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube3{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon3{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube4{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon4{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube5{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon5{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}



#videoyoutube12{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon12{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube22{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon22{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube32{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon32{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube42{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon42{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
#videoyoutube52{
    z-index:-1;
  position: fixed;
  height: 50%;
  width: 80%;
  top:25%;
  left:12%;
}
#zadneifon52{
  z-index:-1;
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0px;
  border-color: #ffffff00;
  background-color: hsla(0, 0%, 7%, 0.7);
}
